<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                EJS Is Fun
            </a>
        </div>

        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/board">Board</a></li>
	    <li><a href="/memo">memo</a></li>
	    <li><a href="/chat/home">chat</a></li>
	    <li><a href="/login">login</a></li>
        </ul>

    </div>
</nav>